header {
  background-image: url("../assets/image-1.jpeg");
  height: 110vh;
  background-attachment: fixed;
  background-size: cover;
}
.upperNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  &--center {
    flex-direction: column;
  }
  label, input {
    display: none;
  }
}
.title__header {
  font-size: 4.3rem;
  margin: 0;
  &--small {
    font-size: 1.9rem;
  }
  &--white {
    color: white;
  }
  &:hover {
    color: #0e5f88;
  }
}

.nav {
  @include noSpace;
  &__item {
  font-size: 1.9rem;
  list-style-type: none;
  display: inline;
  }
  &__link {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-weight: 700;
    &:hover {
      color: #0e5f88;
    }
    &--white {
      color: white;
    }
    &--small {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }
}
.lowerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}
.bigWelcome {
  font-size: 8.3rem;
  text-transform: uppercase;
  @include noSpace;
}

.smallWelcome {
  font-size: 2.9rem;
  margin: 0;
  padding: 20px 0;
}

.button {
  border-radius: 15px;
  border: 1px solid #0e5f88;
  background-color: #0e5f88;
  width: 15%;
  &__text {
    color: #efeeee;
    font-size: 1.9rem;
    padding: 10px;
    margin: 0;
  }
  &--long {
    width: 20%;
  }
  &--black {
    background-color: black;
  }
  a {
    text-decoration: none;
    color: white;
  }
  &__small {
    width: 25%;
  }
  &--center {
    margin: 5%;
  }
}

footer {
  background: #1d1d1d;
  color: white;
  padding: 5% 0;
  position: relative;
}

.footer {
  &Upper {
    display: flex;
    border-bottom: 1px solid white;
  }
  &__head {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2% 0;
  }
  &__blocks {
    display: flex;
    flex-direction: column;
    margin: 5% 2.5%;
    flex-basis: 33.33%;
  }
  &__regText {
    text-transform: none;
    padding-left: 5px;
    a {
      color: white;
      text-decoration: none;
    }
    &--email::before {
      content: "\f0e0";
      font-family: "Font Awesome 5 Free";
      left: -5px;
      position: relative;
    }
    &--phone::before {
      content: "\f095";
      font-family: "Font Awesome 5 Free";
      left: -5px;
      position: relative;
    }
    &--location::before {
      content: "\f3c5";
      font-family: "Font Awesome 5 Free";
      left: -5px;
      position: relative;
    }
    &--center {
      text-align: center;
      margin-top: 3%;
    }
  }
  &__form {
    margin: 0;
    input {
      background-color: #1d1d1d;
      border: white 1px solid;
      color: white;
      font-size: 1rem;
      padding: 2%;
    }
  }
}

.instaGallery {
  padding: 0;
  margin: 2% 0;
  display: flex;
  flex-wrap: wrap;
}

.instaPics {
  list-style-type: none;
  padding: 0;
  margin: 1%;
  width: calc(25% - 2%)
}

.social{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  font-size: 2.4rem;
  top: 50%;
  margin: 0 2%;
  i {
    color: #848484;
  }
}

// ===RESPONSIVE MEDIA QUERIES===

@media (max-width: 960px) {
  .social {
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
} /* ===END OF MAX WIDTH 960PX ===*/

@media (max-width: 780px) {
  .upperNav {
    flex-direction: column;
  }
  .bigWelcome {
    font-size: 7rem;
    padding-left: 2%;
  }
  .smallWelcome {
    font-size: 2rem;
    padding-left: 2%;
  }
  .lowerHeader button {
    margin-left: 2%;
  }
  .button {
    width: 15%;
    &__text {
      font-size: 1.5rem;
    }
    &__small {
      width: 25%;
    }
    &--long {
      width: 25%;
    }
  }
  .social {
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
  .servicesBox {
    &:hover {
    background-color: #8ecceb;
    transform: none;
    }
  }
  .instaPics {
    width: calc(33% - 2%);
  }
} /*== END OF MAX WIDTH 780PX ==*/

@media (max-width: 580px) {
  header {
    background-position-x: center;
  }
  button {
    &__small {
      width: 32%;
    }
  }
} /* == END OF MAX WIDTH 580PX == */

@media (max-width: 475px) {
  
  header {
    top: 0;
    background-position-x: center;
  }
  .title__header {
    margin: 28px 0;
  }
  .bigWelcome {
    font-size: 5rem;
  }
  .upperNav {
    position: relative;
    label {
      display: block;
    }
  }
  .nav {
    position: fixed;
    width: 100%; /*note how width and right are the same values*/
     /* Off the screen as wide as you are */
    top: -100%;
    margin: 0;
    left: 0;
    transition: all 0.2s ease;
    background: white;
    z-index: 5;
    &__item {
      font-size: 1.2rem;
    }
    &__link {
      padding: 0 2.5px;
      font-size: 1.4rem;
      &--small {
        font-size: 1.4rem;
      }
    }
    &__footer {
      padding: 0;
    }
  }
  input#toggle:checked ~ .nav {
  top: 0;
  position: fixed;
  left: 5%;  /*when the checkbox is checked, put the ul.nav back to right:0; It was at right:-30%;*/
}
  input#toggle {
	display: none;  /*hide the input, we don't need to see it */
}
  label[for="toggle"] {
    /*position the menu so that it doesn't slide off screen when we open it*/
    position: fixed;
    z-index: 5;
    top: 25px;
    left: 10px;
    color:black;
    font-size: 20px;
  }

  .lowerHeader {
    height: 40vh;
  }
.button {
  width: 25%;
  &__small {
    width: 45%;
  }
  &__text {
    padding: 6%;
  }
}

.footerUpper {
  flex-direction: column;
}
.footer__form input {
  width: 100%;
}

} /* == END OF MAX WIDTH 475PX ==*/
