article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  text-transform: uppercase; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

header {
  background-image: url("../assets/image-1.jpeg");
  height: 110vh;
  background-attachment: fixed;
  background-size: cover; }

.upperNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px; }
  .upperNav--center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.title__header {
  font-size: 4.3rem;
  margin: 0; }
  .title__header--small {
    font-size: 1.9rem; }
  .title__header--white {
    color: white; }
  .title__header:hover {
    color: #0e5f88; }

.nav {
  margin: 0;
  padding: 0; }
  .nav__item {
    font-size: 1.9rem;
    list-style-type: none;
    display: inline; }
  .nav__link {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-weight: 700; }
    .nav__link:hover {
      color: #0e5f88; }
    .nav__link--white {
      color: white; }
    .nav__link--small {
      font-size: 1.1rem;
      font-weight: 400; }

.lowerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 500px; }

.bigWelcome {
  font-size: 8.3rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.smallWelcome {
  font-size: 2.9rem;
  margin: 0;
  padding: 20px 0; }

.button {
  border-radius: 15px;
  border: 1px solid #0e5f88;
  background-color: #0e5f88;
  width: 15%; }
  .button__text {
    color: #efeeee;
    font-size: 1.9rem;
    padding: 10px;
    margin: 0; }
  .button--long {
    width: 20%; }
  .button--black {
    background-color: black; }
  .button a {
    text-decoration: none;
    color: white; }

footer {
  background: black;
  color: white; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5%; }

.section__heading {
  font-size: 3.3rem;
  text-align: center;
  margin: 5% 0 2% 0; }
  .section__heading--blue {
    color: #0e5f88; }
  .section__heading--white {
    color: white; }

.section__textbox {
  font-size: 1.8rem;
  color: #5d5e5d;
  text-transform: none;
  text-align: center;
  margin: 3%; }
  .section__textbox--white {
    color: white; }
  .section__textbox--italic {
    font-style: italic; }

.chooseUs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.chooseLeft {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3%;
  background-color: #f1f3f3;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.chooseBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around; }
  .chooseBlock__head {
    font-size: 2.4rem;
    text-transform: none; }
    .chooseBlock__head--up {
      text-transform: uppercase; }
  .chooseBlock__pic {
    display: inline; }

.chooseRight {
  width: 50%; }

.services {
  padding-bottom: 2%; }
  .services__head {
    font-size: 1.9rem; }
  .services__text {
    font-size: 1.3rem;
    text-transform: none;
    list-style-image: url("../../assets/check-solid.png"); }
  .services__list {
    list-style-type: none;
    text-align: left;
    padding-left: 2%; }

.services__head, .services__text {
  margin: 0;
  padding: 5% 0 0 0; }

.servicesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.servicesBox {
  border: #8ecceb 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 15px;
  width: 380px;
  margin: 5% 2%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5% 2%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .servicesBox:hover {
    background-color: #8ecceb;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .servicesBox i {
    font-size: 4rem;
    padding-bottom: 10%; }
  .servicesBox ul {
    padding: 0; }
    .servicesBox ul i {
      font-size: 1rem;
      position: relative;
      left: -5px;
      padding-bottom: 0; }

.sayAbout {
  background-color: #1d1d1d;
  padding: 5% 0;
  margin: 0; }

.testPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 5% 10%; }
  .testPhoto i {
    font-size: 4rem;
    color: white;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .testPhoto i:hover {
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2); }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .gallery .gallery__pic {
    position: relative; }
    .gallery .gallery__pic--active {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: linear-gradient(rgba(29, 29, 29, 0.78), rgba(29, 29, 29, 0.78)); }
