article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  text-transform: uppercase; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

header {
  background-image: url("../assets/image-1.jpeg");
  height: 110vh;
  background-attachment: fixed;
  background-size: cover; }

.upperNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px; }
  .upperNav--center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .upperNav label, .upperNav input {
    display: none; }

.title__header {
  font-size: 4.3rem;
  margin: 0; }
  .title__header--small {
    font-size: 1.9rem; }
  .title__header--white {
    color: white; }
  .title__header:hover {
    color: #0e5f88; }

.nav {
  padding: 0;
  margin: 0; }
  .nav__item {
    font-size: 1.9rem;
    list-style-type: none;
    display: inline; }
  .nav__link {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-weight: 700; }
    .nav__link:hover {
      color: #0e5f88; }
    .nav__link--white {
      color: white; }
    .nav__link--small {
      font-size: 1.1rem;
      font-weight: 400; }

.lowerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 500px; }

.bigWelcome {
  font-size: 8.3rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0; }

.smallWelcome {
  font-size: 2.9rem;
  margin: 0;
  padding: 20px 0; }

.button {
  border-radius: 15px;
  border: 1px solid #0e5f88;
  background-color: #0e5f88;
  width: 15%; }
  .button__text {
    color: #efeeee;
    font-size: 1.9rem;
    padding: 10px;
    margin: 0; }
  .button--long {
    width: 20%; }
  .button--black {
    background-color: black; }
  .button a {
    text-decoration: none;
    color: white; }
  .button__small {
    width: 25%; }
  .button--center {
    margin: 5%; }

footer {
  background: #1d1d1d;
  color: white;
  padding: 5% 0;
  position: relative; }

.footerUpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid white; }

.footer__head {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2% 0; }

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 5% 2.5%;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%; }

.footer__regText {
  text-transform: none;
  padding-left: 5px; }
  .footer__regText a {
    color: white;
    text-decoration: none; }
  .footer__regText--email::before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    left: -5px;
    position: relative; }
  .footer__regText--phone::before {
    content: "\f095";
    font-family: "Font Awesome 5 Free";
    left: -5px;
    position: relative; }
  .footer__regText--location::before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    left: -5px;
    position: relative; }
  .footer__regText--center {
    text-align: center;
    margin-top: 3%; }

.footer__form {
  margin: 0; }
  .footer__form input {
    background-color: #1d1d1d;
    border: white 1px solid;
    color: white;
    font-size: 1rem;
    padding: 2%; }

.instaGallery {
  padding: 0;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.instaPics {
  list-style-type: none;
  padding: 0;
  margin: 1%;
  width: calc(25% - 2%); }

.social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  right: 0;
  font-size: 2.4rem;
  top: 50%;
  margin: 0 2%; }
  .social i {
    color: #848484; }

@media (max-width: 960px) {
  .social {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/* ===END OF MAX WIDTH 960PX ===*/
@media (max-width: 780px) {
  .upperNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .bigWelcome {
    font-size: 7rem;
    padding-left: 2%; }
  .smallWelcome {
    font-size: 2rem;
    padding-left: 2%; }
  .lowerHeader button {
    margin-left: 2%; }
  .button {
    width: 15%; }
    .button__text {
      font-size: 1.5rem; }
    .button__small {
      width: 25%; }
    .button--long {
      width: 25%; }
  .social {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .servicesBox:hover {
    background-color: #8ecceb;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .instaPics {
    width: calc(33% - 2%); } }

/*== END OF MAX WIDTH 780PX ==*/
@media (max-width: 580px) {
  header {
    background-position-x: center; }
  button__small {
    width: 32%; } }

/* == END OF MAX WIDTH 580PX == */
@media (max-width: 475px) {
  header {
    top: 0;
    background-position-x: center; }
  .title__header {
    margin: 28px 0; }
  .bigWelcome {
    font-size: 5rem; }
  .upperNav {
    position: relative; }
    .upperNav label {
      display: block; }
  .nav {
    position: fixed;
    width: 100%;
    /*note how width and right are the same values*/
    /* Off the screen as wide as you are */
    top: -100%;
    margin: 0;
    left: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: white;
    z-index: 5; }
    .nav__item {
      font-size: 1.2rem; }
    .nav__link {
      padding: 0 2.5px;
      font-size: 1.4rem; }
      .nav__link--small {
        font-size: 1.4rem; }
    .nav__footer {
      padding: 0; }
  input#toggle:checked ~ .nav {
    top: 0;
    position: fixed;
    left: 5%;
    /*when the checkbox is checked, put the ul.nav back to right:0; It was at right:-30%;*/ }
  input#toggle {
    display: none;
    /*hide the input, we don't need to see it */ }
  label[for="toggle"] {
    /*position the menu so that it doesn't slide off screen when we open it*/
    position: fixed;
    z-index: 5;
    top: 25px;
    left: 10px;
    color: black;
    font-size: 20px; }
  .lowerHeader {
    height: 40vh; }
  .button {
    width: 25%; }
    .button__small {
      width: 45%; }
    .button__text {
      padding: 6%; }
  .footerUpper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer__form input {
    width: 100%; } }

/* == END OF MAX WIDTH 475PX ==*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5%; }

.section__heading {
  font-size: 3.3rem;
  text-align: center;
  margin: 5% 0 2% 0; }
  .section__heading--blue {
    color: #0e5f88; }
  .section__heading--white {
    color: white; }

.section__textbox {
  font-size: 1.8rem;
  color: #5d5e5d;
  text-transform: none;
  text-align: center;
  margin: 3%; }
  .section__textbox--white {
    color: white; }
  .section__textbox--italic {
    font-style: italic; }

@media (max-width: 475px) {
  .section__heading {
    font-size: 2.3rem; }
  .section__textbox {
    font-size: 1.5rem; } }

.chooseUs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.chooseLeft {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3%;
  background-color: #f1f3f3; }

.chooseBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  padding: 0;
  margin: 2% 0; }
  .chooseBlock li {
    list-style-type: none; }
  .chooseBlock__box {
    -ms-flex-preferred-size: calc( 75% - 2.5%);
    flex-basis: calc( 75% - 2.5%);
    margin-left: 2.5%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .chooseBlock__head {
    font-size: 2.4rem;
    text-transform: none;
    margin: 0; }
  .chooseBlock--up {
    text-transform: uppercase; }
  .chooseBlock__pic {
    display: inline-block;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -ms-flex-negative: 2;
    flex-shrink: 2; }
  .chooseBlock__text {
    font-size: 1.1rem;
    display: inline;
    margin: 0;
    text-transform: none; }

.chooseRight {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-negative: 2;
  flex-shrink: 2; }

.services {
  padding-bottom: 2%; }
  .services__head {
    font-size: 1.9rem; }
  .services__text {
    font-size: 1.3rem;
    text-transform: none;
    list-style-image: url("../../assets/check-solid.png"); }
  .services__list {
    list-style-type: none;
    text-align: left;
    padding-left: 2%; }

.services__head, .services__text {
  margin: 0;
  padding: 5% 0 0 0; }

.servicesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.servicesBox {
  border: #8ecceb 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 15px;
  width: 380px;
  margin: 5% 2%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5% 2%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .servicesBox:hover {
    background-color: #8ecceb;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .servicesBox i {
    font-size: 4rem;
    padding-bottom: 10%; }
  .servicesBox ul {
    padding: 0; }
    .servicesBox ul i {
      font-size: 1rem;
      position: relative;
      left: -5px;
      padding-bottom: 0; }

@media (max-width: 960px) {
  .chooseLeft {
    padding: 0; }
  .servicesBox:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

/*===END OF MAX WIDTH 960PX=== */
@media (max-width: 780px) {
  .chooseUs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

/* ===END OF MAX WIDTH 780PX ==*/
@media (max-width: 580px) {
  .chooseRight {
    display: none; }
  .servicesSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .servicesSection .servicesBox {
      margin: 2% auto; } }

@media (max-width: 475px) {
  .chooseUs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .chooseBlock {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .chooseBlock__head {
      font-size: 1.6rem; }
  .servicesBox {
    width: 250px; }
    .servicesBox:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); } }

/*===END OF MAX WIDTH 475===*/
.sayAbout {
  background-color: #1d1d1d;
  padding: 5% 0;
  margin: 0; }

.testPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 5% 10%; }
  .testPhoto i {
    font-size: 4rem;
    color: white;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .testPhoto i:hover {
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2); }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .gallery__head {
    font-size: 2.4rem;
    text-transform: none; }
    .gallery__head--up {
      text-transform: uppercase; }
  .gallery__text {
    text-transform: none; }

.gallery__pic {
  position: relative; }
  .gallery__pic:hover .gallery__pic--active {
    display: block; }

.gallery__pic--active {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgba(29, 29, 29, 0.78);
  display: none; }

.gallery__border {
  border: 2px solid white;
  border-radius: 25px;
  padding: 3%;
  margin: 7%;
  color: white; }

@media (max-width: 780px) {
  .gallery__border {
    padding: 2%;
    margin: 10%; }
  .gallery__head {
    margin: 5%;
    font-size: 1.8rem; } }

.servGrid {
  text-align: center;
  padding-bottom: 5%; }
  .servGrid__head {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0;
    display: inline;
    padding-left: 15px; }
  .servGrid__text {
    text-transform: none;
    padding: 0 15% 5% 15%; }

.servGrid__structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gridBox, .servGrid__pic {
  -ms-flex-preferred-size: calc( 50% - 20px);
  flex-basis: calc( 50% - 20px);
  margin: 10px; }

.bigNumber {
  font-size: 10rem;
  margin: 0;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 700;
  text-align: left; }

@media (max-width: 960px) {
  .gallery__border {
    padding: 0;
    margin: 5%; } }

/*=== END OF MAX WIDTH 960PX ===*/
@media (max-width: 580px) {
  .servGrid__text {
    font-size: 1.4rem;
    padding: 0;
    margin: 14px 0; } }

/* === END OF MAX WIDTH 580PX === */
@media (max-width: 475px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .gallery__border {
      padding: 15%;
      margin: 5%; }
  .servGrid__structure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .servGrid__pic {
    display: none; }
  .servGrid__text {
    font-size: 1.2rem; } }

/* ===END OF MAX WIDTH 475PX=== */
.question {
  background-color: #8ecceb;
  padding: 5% 0; }
  .question__form {
    background: transparent;
    border: none;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black; }

.quest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

form {
  width: 80%;
  margin: 0 auto;
  border: black 1px solid;
  font-size: 2rem;
  padding: 1%;
  border-radius: 5px; }

.team {
  background-color: #f1f3f3;
  padding: 5% 0; }

.headshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.teamPhoto {
  position: relative;
  margin: 0 1%; }
  .teamPhoto:hover .teamPhoto__text {
    display: block; }
  .teamPhoto__head {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0;
    display: inline;
    padding-left: 15px; }
  .teamPhoto__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: rgba(29, 29, 29, 0.8);
    display: none;
    color: #eeeded; }
  .teamPhoto .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

@media (max-width: 475px) {
  .headshots {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .teamPhoto {
    width: 200px;
    margin: 1% auto; }
    .teamPhoto__head {
      font-size: 1.8rem;
      text-align: center;
      padding: 0; } }

/* ==END OF MAX WIDTH 475PX == */
